.img-pform-container {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 500px;
  width: 800px;
}
.pimg-container {
  display: flex;
  width: 40%;
  height: 100%;
}
.pimg-container img {
  flex-wrap: wrap;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
}
.pform-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 60%;
  height: 96%;
  background-color: #08166f;
  margin-left: 0px;
}

.ff-container {
  flex-wrap: wrap;
  width: 400px;
  padding: 30px;
  border-radius: 4px;
  background-color: #08166f;
}
.pform-container input {
  width: 90%;
  margin-left: 10px;
  margin-bottom: 10px;
}
.pform-container button {
  max-width: 205%;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}
.pform-container label {
  margin: 10px;
  width: 90%;
  font-size: 20px;
}
.pform-container h2 {
  width: 90%;
  margin-top: 20px;
  text-align: center;
  margin-left: 25px;
  margin-bottom: 40px;
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #08166f;
  color: #fff;
  justify-content: center;
  margin-left: 360px;
}
.pform-container input {
  font-size: 20x;
}
@media only screen and (max-width: 767px) {
  .img-pform-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: default;
    align-items: center;
    height: 500px;
    margin-top: 150px;
    width: 100%;
    max-width: 350px; /* Adjust the max-width value as needed */
  }
  .pimg-container {
    max-width: 30%;
  }
  .pform-container {
    width: 50%;
  }
  .ff-container {
    max-width: 200px;
  }
  .pform-container h2 {
    font-size: 30px;
  }
}
